
.user {
  color: grey;
  font-size: 0.9em;
}

.WithStyles\(ForwardRef\(LinearProgress\)\)-bar-29 {
  background-color: #f74a64 !important;
}

.ddayBadge {
  height: 28px !important;
  background-color: #f74a64 !important;
  color: white !important;
  font-weight: bold;
  padding-right: 3px !important;
  padding-left: 3px !important;
}
.cardImgA {
  transform: scale(1, 1);
  transition: all 0.2s ease-in-out !important;
}

.cardImgA:hover {
  transform: scale(1.1, 1.1);
  overflow: hidden;
}
