@font-face {
  font-family: Shrikhand;
  src: url(../assets/fonts/Shrikhand-Regular.ttf) format('truetype');
}

@font-face {
  font-family: NanumBarunGothic;
  src: url(../assets/fonts/NanumBarunGothic.ttf) format('truetype');
}

.logo {
  font-family: Shrikhand;
  color: #f74a64;
  text-align: center;
  font-size: 2em;
}

.nbg {
  font-family: NanumBarunGothic;
  text-align: center;
}
