body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* transform: rotate(-0.03deg); */
}

.App {
  /* background-color: #fcfcfc ; */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
  font-family: Shrikhand;
  src: url(./assets/fonts/Shrikhand-Regular.ttf) format('truetype');
}

@font-face {
  font-family: NanumBarunGothic;
  src: url(./assets/fonts/NanumBarunGothic.ttf) format('truetype');
}

@font-face {
  font-family: NanumBarunGothicBold;
  src: url(./assets/fonts/NanumBarunGothicBold.ttf) format('truetype');
}

.logo {
  font-family: Shrikhand;
  text-align: center;
  font-size: 2em;
}

.large_logo {
  font-family: Shrikhand;
  text-align: center;
  font-size: 4em;
}

.nbg {
  font-family: NanumBarunGothic !important;
  font-size: 1.6rem;
}

.nbg_bold {
  font-family: NanumBarunGothicBold !important;
}

.nbg_m {
  font-family: NanumBarunGothic !important;
  font-size: 1.6rem;
}

.btn_main {
  background-color: #f74a64 !important;
  color: white !important;
}

.main_color {
  color: #f74a64 !important;
}

.disabled_input {
  background-color: rgba(0, 0, 0, 0.05);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: 'Noto Sans KR' !important;
}

.font-smooth {
  transform: rotate(-0.03deg) !important;
}
